.container {
  	display: flex;
	justify-content: space-between;
}

.content {
 	flex: 1;
}

.sidebar {
	text-align: right;
	flex: 1;
	display: block;
	margin: 8px;
}

.sidebar a {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	color: #333;
}

.sidebar a:hover {
	text-decoration: underline;
}
