.container {
  	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.content {
 	flex: 1;
	padding: 20px;
	max-width: 42em;
}

.sidebar {
	text-align: right;
	flex: 1;
	display: block;
	margin: 8px;
	padding: 20px;
}

.sidebar a {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	color: #66BADE;
}

.sidebar a:hover {
	text-decoration: underline;
}
